@charset "UTF-8";
/* ========================================================================
 * common CSS
 * ======================================================================== */
html {margin:0; padding:0; font-size:62.5%; line-height: 1.15; -webkit-text-size-adjust: 100%; overflow-y: scroll; -ms-overflow-x: hidden; -webkit-tap-highlight-color: unset!important;}
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; word-break: keep-all; -webkit-box-sizing: border-box; box-sizing: border-box; }
*,:after,:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
body,html { -webkit-text-size-adjust: none; -webkit-overflow-scrolling: touch; }
@media screen and (max-device-height:420px) and (orientation: landscape) { html {font-size:6px} } /* 모바일 가로모드 */
body, input, select, button, textarea, h1, h2, h3, h4, h5, h6, table {color:#222; font: 400 1.4rem/100% "Noto Sans Korean", sans-serif; line-height:1.5rem; font-weight:400; word-wrap:break-word; word-break:keep-all; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; }
label {vertical-align:middle; cursor:pointer;}
address, em {font-style:normal}
fieldset, img {border:0; vertical-align:middle}
button {border:0; background-color:transparent; vertical-align:middle; cursor:pointer;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block; margin: 0; padding: 0}
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,select,table,td,textarea,th,ul { margin: 0; padding: 0; word-break: break-all }
em { font-style: normal }
a { cursor: pointer; color: inherit; text-decoration: none; background-color: transparent; }
a[href^="tel:"] { cursor: text }
table {width:100%; border-spacing:0; border-collapse:collapse;}
iframe {margin:0; border:0; width:100%; height:100%}
.transparents-layer {position:fixed; left:0; top:0; z-index:100; width:100%; height:100%; background:#000; opacity:0.5; -ms-filter:alpha(opacity=50); filter:alpha(opacity=50)}
img { border: 0; max-width: 100%; max-height: 100%; vertical-align: middle; -webkit-box-sizing: border-box; box-sizing: border-box; image-rendering: -moz-auto; /* Firefox */ image-rendering: -o-auto; /* Opera */ image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */ image-rendering: auto; -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */ }
dl,li,menu,ol,ul { list-style: none }
input::-ms-clear { display: none }
a:active,a:focus,a:hover { background-color: transparent; text-decoration: none; color: inherit }
body.pinch-zoom { -ms-touch-action: auto; touch-action: auto }
button,input,select,textarea { vertical-align: middle; border: none; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none }
input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], select {-webkit-box-sizing:border-box;box-sizing:border-box; -webkit-border-radius:0; -webkit-appearance:none}
input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], input[type="date"]:focus {vertical-align:middle}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#a0a0a0}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none; margin:0}
textarea {resize:vertical; -webkit-border-radius:0; -webkit-appearance:none}
input[type="image"] {-webkit-border-radius:0; -webkit-appearance:none}
input[type="button"], input[type="submit"] {-webkit-appearance:button; border-radius:0}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {-webkit-box-shadow:0 0 0 30px white inset}
select::-ms-expand {display:none;}
figcaption, caption, legend, .blind, .skip {position:fixed; overflow:hidden; border:0; margin:-1px; width:1px; height:1px; clip:rect(1px, 1px, 1px, 1px); -webkit-clip-path:inset(50%); clip-path:inset(50%);}
.hidden {display:none !important;}
.float_none {float:none !important;}

#skip_navigation { position: relative; z-index: 1000;}
#skip_navigation > button { background: #333; height: 3rem; left: 0; line-height: 1; position: absolute; text-align: center; top: -3rem; width: 10rem; }
#skip_navigation > button > span { color: #fff; display: inline-block; font-size: 1rem; white-space: nowrap; }

.screen_out { position: absolute; width: 0; height: 0; line-height: 0; overflow: hidden; text-indent: -9999px; }
.pc_break { display: block;} 
.mo_break {display: none;}
.dimmed { position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: #111; opacity: .7; z-index: 1000 }
.scroll_lock { position: fixed; overflow: hidden; width: 100vw; height: 100vh }
.clearfix { zoom: 1; }
.clearfix:before, .clearfix::after { content: ''; display: block; clear: both; }
.sr-only { overflow: hidden; position: absolute; clip: rect(0, 0, 0, 0); -webkit-clip-path: polygon(0 0, 0 0, 0 0); clip-path: polygon(0 0, 0 0, 0 0); width: 1px; height: 1px; margin: -1px; white-space: nowrap; }
.pc_hide {display: none;}

/* ========================================================================
 * header CSS
 * ======================================================================== */
.logo { display: inline-block; font-size: 0; line-height: 0; text-indent: -9999px; vertical-align: top }
#wrap { padding-top: 24.7rem; }
#wrap.ban_close { padding-top: 18.7rem;}
.common_inner { max-width: 98rem; margin: 0 auto; }
#header { position: fixed; top: 0; left: 0; width: 100%; margin: 0 auto;  -webkit-transition: top 0.3s ease-out;  -o-transition: top 0.3s ease-out;  transition: top 0.3s ease-out; will-change: transform; z-index: 1000; background: #fff; color: #000; border-bottom: 0.1rem solid #DFDFDF;}
#header .header_inner { position: relative; z-index: 1; border-bottom: 0.1rem solid #DFDFDF; }
#header .header_inner .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%;}

/* 띠배너 */
#top_banner { width: 100%; height: 6rem; background-color: #FFF5D6; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
#top_banner .common_inner {position: relative;height: 6rem;}
#top_banner a {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0);}
#top_banner span {color: #2F4772; letter-spacing: -.11rem; font-weight: bold; font-size: 2.2rem; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); line-height: 1.25;white-space: nowrap;}
#top_banner .btn_close {position: absolute; top:50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; background: url(../images/icon/ico_close.svg) no-repeat center center; text-indent: -9999em; display: block;  width: 1.9rem; height: 1.9rem; padding: 2rem 1.5rem;}

/* header_top */
.header_top { width: 100%; }
.header_top .header_util { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; height: 4rem; }
.header_top .header_util .inside_header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; align-items: center; margin-right: auto; }
.header_top .header_util .inside_header li { margin-right: 2rem; }
.header_top .header_util .inside_header li:last-child { margin-right: 0; }
.header_top .header_util .inside_header li > a, .header_top .header_util .inside_body li > a { font-size: 1.3rem; color: #434343; font-weight: 500; }
.header_top .header_util .inside_header li > a:hover, .header_top .header_util .inside_body li > a:hover, .header_top .header_util .inside_header li > a:focus, .header_top .header_util .inside_body li > a:focus {color: #F57E25;font-weight: 500;}
.header_top .header_util .inside_header li > a, .header_top .header_util .inside_body li > a{position: relative;display: inline-block; line-height: 4rem;}
.header_top .header_util .inside_header li > a:hover:after, .header_top .header_util .inside_body li > a:hover:after,.header_top .header_util .inside_header li > a:focus:after, .header_top .header_util .inside_body li > a:focus:after{ content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: .2rem; background: #F57E25; }

.header_top .header_util .inside_body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; align-items: center;}
.header_top .header_util .inside_body li { margin-left: 2rem;}
.header_top .header_util .inside_body li:first-child { margin-left: 0; }

/* header_body */
#gnb .gnb_menu > ul{*zoom:1; display: -webkit-box; display: -ms-flexbox; display: flex;}
#gnb .gnb_menu > ul:after{display:block;clear:both;content:''}
#gnb .gnb_menu > ul > li{-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto; position:relative;}
#gnb .gnb_menu > ul > li > a{position:relative;z-index:1; display:block;text-align: center; letter-spacing: -.1rem; color: #222; white-space: nowrap; font-size: 2rem; line-height: 1.25; font-weight: 500;padding: 1rem 0;}
#gnb .gnb_menu > ul > li > a:hover,#gnb .gnb_menu > ul > li > a:focus{color:#F57E25;}
#gnb .gnb_menu .depth2{position: absolute;width: 100%;top:5rem;}
#gnb .gnb_menu .depth2 ul{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: nowrap; flex-wrap: nowrap;}
#gnb .gnb_menu .depth2 ul li{ padding-left: 22%; padding-top: 1rem;}
#gnb .gnb_menu .depth2 li a{ color: #222; font-size: 1.6rem; line-height: 1.25; font-weight: 400; white-space: nowrap; text-align: left;letter-spacing: -.04rem; } 
#gnb .gnb_menu .depth2 li a > span {position: relative;z-index: 1;}
#gnb .gnb_menu .depth2 li a:hover > span:after,#gnb .gnb_menu .depth2 li a:focus > span:after { content: ""; position: absolute; left: -0.1rem; bottom: .4rem; z-index: -1; width: 105%; height: .5rem; background-color: #ffdab2; }

#header .gnb_menu{height: 4.5rem;overflow: hidden;-webkit-transition: all 0.4s ease-out;-o-transition: all 0.4s ease-out;transition: all 0.4s ease-out;}
#header.hover .gnb_menu{height: 21rem;z-index: 999;-webkit-transition: height 0.25s ease-out;-o-transition: height 0.25s ease-out;transition: height 0.25s ease-out;} 
#header .inner_wrap {position: relative; z-index: 1; width: 100%;}
#header.hover .inner_wrap {width: 100%; background-color: #fff; -webkit-box-shadow: 0px 0.5rem 0.6rem rgba(113, 113, 113, 0.16); box-shadow: 0px 0.5rem 0.6rem rgba(113, 113, 113, 0.16);}
/* #header.hover .inner_wrap:before { content: ''; display: block; position: absolute; bottom: 16.2rem; left: 0; width: 100%; border-top: 1px solid #e6e6e6; opacity: 1; transition: opacity 0.4s ease-out;} */
/* #header .gnb_menu:before { opacity: 0; } */

#header .logo { padding: 2.6rem 0 2.6rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#header .logo > a { display: block; width: 25.2rem; height: 5rem; text-indent: -999rem; background-image: url(../images/common/EBSe_teacher_logo.svg); background-size: auto; background-position: 50%; background-repeat: no-repeat; }
#header .head_top .toggle_btn { transform: translateY(0.25rem); display: none;position: absolute; left: 2rem;  color: #231F20;}
#header .head_top .toggle_btn span {display: block; width: 2.6rem; height: .4rem; background-color: #222; margin-bottom: .5rem; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s;}
/* #header .head_top .toggle_btn span:last-child {margin-bottom: 0;} */

/* SITEMAP */
.sitemap_dim { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.5; z-index: 1001; -webkit-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out;}
article.sitemap {position: fixed;display: block;overflow-x: hidden;overflow-y: auto;top: 0;bottom: 0;left: -100%;right: 0;z-index: 100000;width: 85%;max-width: 45rem; margin-left: 0; background-color: #fff; -ms-overflow-style: none; -webkit-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out;}
article.sitemap::-webkit-scrollbar { width: 0; display: none; }
article.sitemap.close, article.sitemap.close .inner { left: -100%; }
article.sitemap ul { display: block; overflow: hidden; width: 100%; padding: 2rem 2.5rem; }
article.sitemap ul li { position: relative; display: block; overflow: hidden; width: 100%; }
article.sitemap ul li:first-child { border: 0; }
article.sitemap ul li:last-child .mm { border-bottom: 0; }
article.sitemap ul li .mm { position: relative; width: 100%; height: 4rem; line-height: 4rem; text-align: left; color: #413d3e; font-size: 1.7rem; }
article.sitemap ul li > span { position: absolute; float: right; top: .9rem; right: 0; width: 2rem; height: 2rem; text-indent: -999rem; }
article.sitemap ul li > span:before { position: absolute; right: 0; top: 50%; margin-top: -.1rem; content: ""; overflow: hidden; width: 1.4rem; height: .1rem; background: #413d3e; }
article.sitemap ul li > span:after { position: absolute; right: .6rem; top: 50%; margin-top: -.7rem; content: ""; overflow: hidden; width: .1rem; height: 1.4rem; background: #413d3e; }
article.sitemap ul li.on > span:after { display: none !important; }
article.sitemap ul li.on .mm { color: #ff8400; }
article.sitemap ul li .mm + .mm { border-top: .1rem solid rgba(255, 255, 255, 0.5); }
article.sitemap ul li .mm > a { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; }
article.sitemap ul li .sm { display: none; overflow: hidden; width: 100%; padding-left: .2rem; padding-bottom: .5rem; background-color: rgba(256, 256, 256, 0.1); }
article.sitemap ul li .sm .m { display: block; overflow: hidden; width: 100%; text-align: left; color: #413d3e; font-size: 1.4rem; line-height: 1.6rem; padding: .9rem 0; }
article.sitemap ul li .sm .s { display: block; overflow: hidden; width: 100%; text-align: left; color: #413d3e; font-size: 1.2rem; line-height: 1.4rem; padding: .9rem 0; }
article.sitemap .nav_top { padding: 3rem 2.5rem 1rem; text-align: right; background: url("../images/common/bg_m_menu.png") no-repeat 0 top; }
article.sitemap .nav_top p.txt { margin-bottom: 1rem; color: #fff; line-height: 2rem; font-size: 1.5rem; font-weight: lighter; text-align: left; }
article.sitemap .nav_top p.txt span { display: block; line-height: 3rem; font-size: 2.4rem; font-weight: 400; }
article.sitemap .nav_top p.txt span i { font-size: 2.6rem; font-style: normal;}
article.sitemap .nav_top .bt { height: 3rem; margin-left: 1rem; line-height: 3rem; color: #fff; font-size: 1.4rem; font-weight: lighter; }
article.sitemap.open {left:0;-webkit-transition: all 0.4s ease-out;-o-transition: all 0.4s ease-out;transition: all 0.4s ease-out;}
article.sitemap.open + .sitemap_dim {display: block;-webkit-transition: all 0.4s ease-out;-o-transition: all 0.4s ease-out;transition: all 0.4s ease-out;}


/* ========================================================================
 * footer CSS
 * ======================================================================== */
/* FOOTER */
footer .footer_head {border-top: 2px solid #000; border-bottom: 1px solid #000;}
footer .footer_head .common_inner {display: flex;justify-content: space-between;padding: 3.5rem 0;}
footer .customer_wrap {display: flex;}
footer .customer_wrap .customer_info {display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 3rem;}
footer .customer_wrap .customer_info .tit {font-size: 1.8rem; font-weight: 600; color: #222; letter-spacing: -0.05rem; margin-bottom: 1.8rem; line-height: 1;}
footer .customer_wrap .customer_info .tel {font-size: 3.2rem; font-weight: 900; font-family: Lato, "Noto Sans Korean", sans-serif; white-space: nowrap; letter-spacing: -0.08rem; line-height: 1; margin-bottom: 1.5rem;}
footer .customer_wrap .customer_info .link {display: flex;}
footer .customer_wrap .customer_info .link > a {margin-left: .2rem; padding: .5rem 1rem; width: auto; height: 2.3rem; line-height: 1; text-align: center; font-size: 1.2rem; font-weight: 300; color: #fff; letter-spacing: -0.05rem; background: #222; }
footer .customer_wrap .customer_info .info_txt {margin-left: 1.8rem;}
footer .customer_wrap .customer_info .info_txt p {line-height: 1.35; word-break: keep-all;}

footer .footer_body {border-bottom: 1px solid #dbdbdb;}
footer .footer_body .common_inner {display: flex; justify-content: space-between; align-items: center; height: 4.7rem; }
footer .footer_body .footer_menu_item { padding-right: 3.6rem; }
footer .footer_body .footer_menu_list {display: flex}
footer .footer_body .footer_menu_item a { color: #222; }
footer .footer_body .footer_menu_item:nth-child(3) a {color: #f57e25;}

footer .app_wrap {display: flex;}
footer .footer_app .app_icon {display: flex;}
footer .footer_app .app_icon li { margin-right: .8rem;}
footer .footer_app .tit,footer .sns_app .tit {font-size: 1.8rem; font-weight: 600; color: #222; letter-spacing: -0.05rem; margin-bottom: 1.8rem; line-height: 1;}

footer .footer_site .family_site {display: flex; justify-content: space-between; padding: 1rem 0;}

footer .footer_foot {padding: 2rem 0;}
footer .footer_foot .foot_info_box {display: flex; justify-content: space-between;}
footer .footer_foot .foot_info_box .foot_info { display: flex; }
footer .footer_foot .foot_info_box .footer_logo {width: 17rem;height: fit-content;transform: translateX(-1.5rem);}
footer .footer_foot .mark_isms { text-align: center;}
footer .footer_foot .corp { margin-top: 1rem; font-size: 1.1rem; font-weight: 300; color: #808080;text-align: left;}
footer .footer_copy li {display: block; line-height: 20px; font-size: 12px; color: #808080;}
footer .footer_copy .copy { font-weight: 500;}

footer .app_icon img { border-radius: 1.3rem; width: 5.5rem; height: 5.5rem; object-fit: cover; }

/* SELECT */
footer .institution { position: relative; overflow: hidden; display: inline-block; width: 100%;max-width: 19.3rem; height: 3rem;}
footer .institution label { position: relative; display: block; overflow: hidden; width: 100%;max-width: 19.3rem; height: 3rem; line-height: 2.8rem; text-align: left; color: #515e73; font-size: 1.2rem; border: .1rem solid #b0b0b0; background-color: #fff; padding: 0 1rem 0 1rem; }
footer .institution label:before { content: ""; display: block; position: absolute; right: 1rem; top: 50%; margin-top: -.2rem;  overflow: hidden; width: 0; height: 0; border: .4rem solid transparent; border-top: .4rem solid #65748e; }
footer .institution select { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block; width: 100%; height: 100%; line-height: 3rem; color: #000; font-size: 1.2rem; padding: 0 1rem; opacity: 0; }

footer .btn_top { position: fixed;height: 4rem; width: 4rem; right: 2rem; bottom: 2rem; z-index: 500; background: rgba(0,0,0,0.3) url(../images/icon/ico_top.png) no-repeat center 50%; background-size: 3rem; border-radius: 50%; display: none; opacity: 0; -webkit-transition: opacity 0.3s ease-in-out; -o-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out;}
footer .btn_top.show { display: block; opacity: 1; }



/* ========================================================================
 * sub CSS
 * ======================================================================== */

 .icon { display: inline-block; font-size: 0; vertical-align: middle; background-repeat: no-repeat; background-position: center center; background-size: contain; }
 .path { display: block; height: 5rem; border-top: .1rem solid #dcdcdc; border-bottom: .1rem solid #dcdcdc; background: #fff; transition: top 0.3s ease; }
 .path .common_inner {display: flex;}
 .path .home { position: relative; background-image: url(../images/icon/ico_home.svg); background-size: 1.5rem 1.7rem; background-position: 0 50%; width: 4rem; height: 5rem; }
 .path .home:after, .path .lnb:after { content: ''; position: absolute; width: .1rem; height: 2.2rem; top: 50%; right: 0; transform: translateY(-50%); background: #dcdcdc; }
 .path .lnb {position: relative; display: flex; justify-content: center; align-items: center; padding: 0 2rem;}
 .path .lnb h2 { font-size: 1.6rem; padding: 0 1.3rem; }
 .path.fix { position: fixed; top: 18.7rem; left: 0; right: 0; z-index: 1; }
 
 /* 교사회원 인증 */
.teacher_sub_visual {background: #FFC880; width: 100%; height: 25rem; overflow: hidden;}
.teacher_sub_visual .visual_txt {display: flex; justify-content: space-between; height: 25rem; background-image: url(../images/common/teacher_membership.png); background-position: 100% 2.5rem; background-size: 20rem; background-repeat: no-repeat;}
.teacher_sub_visual .visual_txt .page_title {font-size: 4rem; font-weight: bold; letter-spacing: -.2rem; line-height: 1.2; color: #222; margin-top: 6rem;} 

.tab_container { margin-top: -6rem; z-index: 10; width: 100%; }
.tab_list {width: 98rem; max-width: 100%; display: flex; background-color: #fafafa; color: #AAAAAA; }
.tab_list.tab_fix {position: fixed; top: 23.7rem; left: 50%; transform: translateX(-50%); z-index: 10;  }
.tab_button { position: relative; flex: 1; height: 6rem; display: flex; justify-content: center; align-items: center; letter-spacing: -.09rem; text-align: center; background-color: #fafafa; color: #AAAAAA; font-size: 1.8rem; border-bottom: 0.1rem solid #DFDFDF;}
.tab_button:first-child {border-left: 0.1rem solid #DFDFDF;}
.tab_button:last-child {border-right: 0.1rem solid #DFDFDF;}
.tab_button.active { background-color: #fff; color: #F57E25; font-weight: 500; border-top: 0.4rem solid #F57E25;border-left: 0.1rem solid #DFDFDF; border-right: 0.1rem solid #DFDFDF; border-bottom: 0.1rem solid #fff; z-index: 2; }
.tab_button:first-child.active {border-left: 0.1rem solid #fff; }
.tab_button:last-child.active {border-right: 0.1rem solid #fff; }
.tab_button:after { content: ''; position: absolute; width: .1rem; height: 2.2rem; top: 50%; right: -.1rem; transform: translateY(-50%); background: #dcdcdc; z-index: 1;}
.tab_button:last-child:after {background: transparent;}
.tab_button.active:after { background: transparent;}
.tab_panel { display: none; }
.tab_panel.active { display: block;}  

.application_form { margin-top: 7rem; }
.application_form h2 { font-size: 3rem; letter-spacing: -.15rem; font-weight: 500; color: #222; line-height: 1.35; margin-bottom: 3rem;}
.application_form .application_txt { display: flex; }
.application_form div[class^="application_method_0"] { display: flex; align-items: center; justify-content: space-between; width: 100%; background-color: #FAFAFA; margin-bottom: 1.1rem; padding: 0 2rem;}
.application_form div[class^="application_method_0"] .num { width: 2.2rem; height: 2.2rem; background-color: #F57E25; color: #fff; font-size: 1.3rem; font-weight: 500; border-radius: 50%; display: flex; justify-content: center; align-items: center; margin-right: 1rem; }
.application_form div[class^="application_method_0"] p { font-size: 1.8rem; letter-spacing: -.09rem; color: #222; line-height: 1.35; }
.application_form div[class^="application_method_0"] strong {font-weight: 500;}
.application_form .ico_next {display: block; width: 2.8rem; height: 2.8rem; margin: 0 auto 1.1rem; background-size: 2.8rem; background-repeat: no-repeat; background-image: url(../images/icon/Ico_dropdown.svg); }

.application_form div.application_method_01 button { width: 24rem; height: 4.4rem; background-color: #F57E25; color: #fff; font-size: 1.8rem; letter-spacing: -.045rem; }
.application_form div.application_method_01 { height: 6.6rem; }
.application_form div.application_method_02 { flex-direction: column; align-items: flex-start; justify-content: flex-start; padding-bottom: 4rem; }
.application_form div.application_method_02 .application_txt,.application_form div.application_method_03 .application_txt {margin: 2rem 0 3rem;}
.application_form div.application_method_02 img,.application_form div.application_method_03 img { margin: 0 auto; padding: 0 2rem; }
.application_form div.application_method_03 { flex-direction: column; align-items: flex-start; justify-content: flex-start; margin-bottom: 10rem; padding-bottom: 4rem; }

.epki_certify { margin-top: 7rem; }
.epki_certify h2 { font-size: 3rem; letter-spacing: -.15rem; font-weight: 500; color: #222; line-height: 1.35; margin-bottom: 3rem; }
.epki_certify div[class^="epki_method_0"] .epki_txt { display: flex; height: 6.6rem; align-items: center; width: 100%; background-color: #FAFAFA; padding: 0 2rem; }
.epki_certify div[class^="epki_method_0"] .num { width: 2.2rem; min-width: 2.2rem; height: 2.2rem; background-color: #F57E25; color: #fff; font-size: 1.3rem; font-weight: 500; border-radius: 50%; display: flex; justify-content: center; align-items: center; margin-right: 1rem; }
.epki_certify div[class^="epki_method_0"] p { font-size: 1.8rem; letter-spacing: -.09rem; color: #222; line-height: 1.35; }
.epki_certify div[class^="epki_method_0"] .epki_btn { display: flex; justify-content: center; align-items: center; text-align: center; }
.epki_certify div[class^="epki_method_0"] .epki_btn button { width: 24rem; height: 4rem; background-color: #878FA2; color: #fff; font-size: 1.8rem; padding: 0 2rem; margin: 3rem 2rem 5rem;}

.epki_certify .epki_info {width: 100%; height: 19.6rem;background-color: #FAFAFA; margin-bottom: 10rem;display: flex; justify-content: center; align-items: center; flex-direction: column;} 
.epki_certify .epki_info .epki_info_tit {display: flex; align-items: center; color: #222; font-size: 2.2rem; font-weight: bold; letter-spacing: -.055rem; line-height: 1.5; margin-bottom: 1rem; transform: translateX(-1rem);} 
.epki_certify .epki_info .epki_info_tit::before {content: ''; display: inline-block; background-image: url(../images/icon/ico_phone.svg); width: 3rem; height: 3rem; }
.epki_certify .epki_info .epki_info_txt { font-size: 1.8rem; letter-spacing: -.09rem; line-height: 1.5; margin-bottom: 2.2rem;}
.epki_certify .epki_info .epki_call { display: flex; font-size: 2.4rem; letter-spacing: -.06rem; line-height: 1.5; font-weight: bold;  }
.epki_certify .epki_info .epki_info_tel {margin-right: 6rem;}

.grant_authority { margin-top: 7rem; margin-bottom: 7.4rem; }
.grant_authority h2 { font-size: 3rem; letter-spacing: -.15rem; font-weight: 500; color: #222; line-height: 1.35; margin-bottom: 3rem; }
.grant_authority div[class^="authority_method_0"] .authority_txt { display: flex; height: 6.6rem; align-items: center; width: 100%; background-color: #FAFAFA; padding: 0 2rem; }
.grant_authority div[class^="authority_method_0"] .num { width: 2.2rem; min-width: 2.2rem; height: 2.2rem; background-color: #F57E25; color: #fff; font-size: 1.3rem; font-weight: 500; border-radius: 50%; display: flex; justify-content: center; align-items: center; margin-right: 1rem; }
.grant_authority div[class^="authority_method_0"] p { font-size: 1.8rem; letter-spacing: -.09rem; color: #222; line-height: 1.35; }
.grant_authority div[class^="authority_method_0"] .authority_btn { display: flex; justify-content: center; align-items: center; text-align: center; }
.grant_authority div[class^="authority_method_0"] .authority_btn button { width: 24rem; height: 4rem; background-color: #878FA2; color: #fff; font-size: 1.8rem; padding: 0 2rem; margin: 3rem 2rem 5rem;}


.use_support {margin-top: 7rem; margin-bottom: 7.4rem;}
.use_support h2 { font-size: 3rem; letter-spacing: -.15rem; font-weight: 500; color: #222; line-height: 1.35; margin-bottom: 3rem; }
.use_support div[class^="support_method_0"] p { font-size: 1.8rem; letter-spacing: -.09rem; color: #222; line-height: 1.35; }
.use_support div[class^="support_method_0"] .support_txt { display: flex; height: 6.6rem; align-items: center; width: 100%; background-color: #FAFAFA; padding: 0 2rem;}
.use_support div[class^="support_method_0"] .support_txt .num {width: 2.2rem; min-width: 2.2rem; height: 2.2rem; background-color: #F57E25; color: #fff; font-size: 1.3rem; font-weight: 500; border-radius: 50%; display: flex; justify-content: center; align-items: center; margin-right: 1rem;}
.use_support div[class^="support_method_0"] .support_list {margin-top: 3rem; display: flex;}
.use_support div[class^="support_method_0"] .support_list li {display: flex; justify-content: center; align-items: center; width: 25%; height: 28rem; border: .1rem solid #DFDFDF; background-color: #fff; border-radius: 1rem; margin-right: 2rem;}
.use_support div[class^="support_method_0"] .support_list li:last-child {margin-right: 0;}
.use_support div[class^="support_method_0"] .support_list li .support_link {display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 3.5rem 4rem;}
.use_support div[class^="support_method_0"] .support_list li .support_link img {width: 8.6rem; height: 8.6rem; margin-bottom: 1.7rem;}
.use_support div[class^="support_method_0"] .support_list li .support_link h3 {font-size: 1.8rem; letter-spacing: -.045rem; color: #434343; margin-bottom: 1.1rem; line-height: 1.5; font-weight: 500;}
.use_support div[class^="support_method_0"] .support_list li .support_link h3::after {content: ''; display: inline-block; width: .8rem; height: 1.4rem; margin-left: 1.2rem; background-image: url(../images/icon/ico_sub-arrow.svg); background-position: 100% 100%; background-size: .8rem 1.4rem; background-repeat: no-repeat;}
.use_support div[class^="support_method_0"] .support_list li .support_link p {font-size: 1.4rem; letter-spacing: -.07rem; color: #222; text-align: center; line-height: 1.5; }

/* 단체가입 신청 */
.group_sub_visual {background: #D5E4F5; width: 100%; height: 60rem; padding: 6rem 0; overflow: hidden;}
.group_sub_visual .visual_txt .page_title {font-size: 4rem; font-weight: bold; letter-spacing: -.2rem; line-height: 1.2; color: #222; margin-top: 6rem;} 

.group_sub_visual .group_signup_content {display: flex; justify-content: space-between;}
.group_sub_visual  .group_signup_info {display: flex; justify-content: space-between; flex-direction: column;}
.group_sub_visual .group_signup_tit {font-size: 4rem; font-weight: bold; line-height: 1.35; letter-spacing: -.2rem; margin-bottom: 2rem;}
.group_sub_visual .group_signup_txt1 {font-size: 2.8rem; font-weight: 500; line-height: 1.5; letter-spacing: -.2rem; margin-bottom: 2.6rem;}
.group_sub_visual .group_signup_txt1 .orange_color {color: #F57E25;}
.group_sub_visual .group_signup_txt2 {font-size: 1.8rem; font-weight: 400; line-height: 1.5; letter-spacing: -.09rem; }
.group_sub_visual .group_signup_info .visual_noti > p {font-size: 1.5rem; font-weight: 400; line-height: 1.5; letter-spacing: -.075rem; margin-top: 1.2rem; }
.group_sub_visual .group_signup_info .visual_noti > p > em {font-weight: 500;}

.group_sub_visual .group_procedure h3 { font-size: 2.4rem; font-weight: 500; margin-top: 2.3rem; line-height: 1.5; letter-spacing: -.12rem; margin-bottom: 2rem; color: #1F3153; }
.group_procedure .group_signup_item {position: relative; display: flex; align-items: center; background: url(../images/common/shape_sub.svg) 100% 100% no-repeat; width: 43rem; height: 10.6rem; margin-bottom: .8rem;}
.group_procedure .group_signup_item:last-child {margin-bottom: 0;}
.group_procedure .group_signup_item .group_signup_num { position: absolute; top: 0.3rem; left: 0.7rem; font-size: 1rem; letter-spacing: -.05rem; font-weight: 500; }
.group_procedure .group_signup_item .group_signup_img { min-width: 7rem; height: 7rem; margin-left: 3rem; }
.group_procedure .group_signup_item .item_txt {padding-left: 3.2rem; padding-right: 3.5rem;}
.group_procedure .group_signup_item .item_txt .procedure_tit {font-size: 1.8rem; letter-spacing: -.135rem; font-weight: bold; line-height: 1.35; color: #1F3153;margin-bottom: .2rem;}
.group_procedure .group_signup_item .item_txt .procedure_txt {font-size: 1.5rem; letter-spacing: -.113rem; font-weight: 400; line-height: 1.35; color: #222222;}
.group_procedure .group_btn {width: 43rem; height: 4.4rem; font-size: 1.8rem; letter-spacing: -.045rem; background-color: #3D4C6B;color: #fff; margin-top: 2.2rem;} 

  @media screen and (max-width: 980px) {
    #wrap { padding-top: 20rem; }
    #wrap.ban_close { padding-top: 14rem;}
    .t_break {display: block;}
    .t_hide {display: none !important;}
    .path.fix { position: fixed; top: 14.2rem; left: 0; right: 0; z-index: 1; }
    .tab_list.tab_fix { position: fixed; top: 19.2rem; }

    .scroll-x { overflow-x: auto; overflow-y: hidden; white-space: nowrap;-webkit-overflow-scrolling: touch; -ms-overflow-style: none; scrollbar-width: none; }
    .scroll-x::-webkit-scrollbar { display: none; }
    .header_top .header_util {padding: 1.75rem 0; font-size: 1.4rem;}
    .header_top .header_util .inside_header { margin-left: auto; }
    .header_top .header_util .inside_body {display: none;} 

    #top_banner .btn_close {padding: 2rem 3.5rem;}
    #header .logo {padding: 0; height: 5.5rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
    #header .logo > a {width: 18.6rem; height: 3.6rem; background-size: contain;}
    #header .head_top {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;border-bottom: 0.1rem solid #DFDFDF;}
    #header .head_top .toggle_btn {display: block;}

    #gnb .gnb_menu > ul > li {padding: 0;}
    #gnb .gnb_menu > ul > li > a {font-size: 1.6rem;padding: 1.3rem 2rem;}
    #gnb .gnb_menu .depth2 {display: none;}

    footer .footer_head .common_inner {padding: 3.5rem 2rem;}
    footer .common_inner {padding: 0 2rem;}
    footer .footer_foot .foot_info_box .footer_logo { transform: translateX(-1.2rem); width: 16rem; }
    footer .footer_menu_list .footer_menu_item:nth-child(3)::after { content: ""; display: inline-block; width: .1rem; height: 1rem; background-color: #222; margin: 0px 1rem; }
    footer .footer_body .footer_menu_item {padding: 0;}
    footer .customer_wrap .customer_info .tit {margin-bottom: 1.5rem;}
    footer .customer_wrap .customer_info .tel {font-size: 2.8rem; }

    .use_support div[class^="support_method_0"] .support_list li .support_link {padding: 3.5rem 2rem;}


}

@media screen and (max-width: 740px) { 
    .pc_break { display: none;} 
    .t_break { display: none;} 
    .mo_break {display: block;}
    .m_hide {display: none !important;}
    .pc_hide {display: block !important;}

    #top_banner span { letter-spacing: -.08rem; font-size: 1.6rem; left: 0; -webkit-transform: translate(0%, -50%); -ms-transform: translate(0%, -50%); transform: translate(0%, -50%); padding-left: 2rem; padding-right: 3rem; line-height: 1.25; white-space: normal;}
    #top_banner .btn_close { width: 1.6rem; height: 1.6rem; padding: 2rem 2.5rem; }

    footer .footer_head .common_inner {flex-wrap: wrap; padding: 0;}
    footer .footer_head .common_inner .customer_wrap {display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; padding: 30px 20px; border-top: 1px solid #000; width: 100%;}
    footer .footer_head .common_inner .app_wrap {-ms-flex-order: -1; order: -1; margin: 3rem 2rem;}
  
    /* 교사회원인증 SUB */
    .sub_visual {height: 15rem;}
    .visual_txt {height: 15rem;background-position: 100% 1.7rem; background-size: 12rem; background-repeat: no-repeat;}
    .visual_txt .page_title { height: 4.5rem; font-size: 3rem; letter-spacing: -.15rem; margin-top: 5rem;}
    .tab_container {margin-top: 0;}
    .tab_panel { display: block; padding: 0 0; }
    .tab_list { display: none; }
    .path { display: none; }

    .teacher_sub_visual,.teacher_sub_visual .visual_txt {height: 15rem;}
    .teacher_sub_visual .visual_txt .page_title {margin-top: 5.5rem;font-size: 3rem; letter-spacing: -.15rem}
    .teacher_sub_visual .visual_txt {background-size: 11rem;}

    #tab_panel_1 {padding-top: 4rem;}
    #tab_panel_2,#tab_panel_3,#tab_panel_4 {padding-top: 6rem;}
    
    .application_form,.epki_certify,.grant_authority, .use_support {margin-top: 0; margin-bottom: 0;}
    .application_form h2,.epki_certify h2, .grant_authority h2, .use_support h2 { font-size: 2.4rem; letter-spacing: -.12rem; }
    .application_box { position: relative; height: 12.2rem; margin-bottom: 1.2rem;}
    .application_form div[class^="application_method_0"] p,.epki_certify div[class^="epki_method_0"] p, .grant_authority div[class^="authority_method_0"] p, .use_support div[class^="support_method_0"] p { font-size: 1.6rem; letter-spacing: -.08rem; }
    .application_form div[class^="application_method_0"] .num, .epki_certify div[class^="epki_method_0"] .num, .grant_authority div[class^="authority_method_0"] .num, .use_support div[class^="support_method_0"] .support_txt .num { width: 2rem; min-width: 2rem; height: 2rem; font-size: 1.2rem;align-self: flex-start; }
    .application_form div[class^="application_method_0"] {padding-left: 1.6rem; padding-right: 1.6rem;}
    .application_form div.application_method_01 button {position: absolute; width: 100%; height: 4rem; left: 50%; bottom: 0; transform: translateX(-50%);}
    .application_form div.application_method_02 img, .application_form div.application_method_03 img { padding: 0; }
    .application_form div.application_method_02, .application_form div.application_method_03 {padding-bottom: 1.6rem;  }
    .application_form div.application_method_03 {margin-bottom: 0;}
    
    .epki_certify div[class^="epki_method_0"] .epki_txt {height: auto; padding: 1.6rem;}
    .epki_certify div[class^="epki_method_0"] .epki_btn button { font-size: 1.6rem; width: 100%; margin: 1.6rem 0.3rem 4rem; padding: 0 0.5rem;}
    .epki_certify .epki_info {height: 29rem;padding: 0 1rem; margin-bottom: 0;}
    .epki_certify .epki_info .epki_info_tit {flex-direction: column; transform: translateX(0);}
    .epki_certify .epki_info .epki_info_txt { font-size: 1.4rem; letter-spacing: -.07rem; margin-bottom: 1.7rem; }
    .epki_certify .epki_info .epki_call {flex-direction: column;}
    .epki_certify .epki_info .epki_info_tel {margin-right: 0;}

    .grant_authority div[class^="authority_method_0"] .authority_txt,.use_support div[class^="support_method_0"] .support_txt { height: auto; padding: 1.6rem; }
    .grant_authority div[class^="authority_method_0"] .authority_btn button { font-size: 1.6rem; width: 100%; margin: 1.6rem 0.3rem 0; padding: 0 0.5rem; }

    .use_support div[class^="support_method_0"] { margin-bottom: 7rem; }
    .use_support div[class^="support_method_0"] .support_list {flex-wrap: wrap; justify-content: space-between;}
    .use_support div[class^="support_method_0"] .support_list li {width: calc(50% - 0.5rem); height: 15.5rem; margin-right: 0;  margin-bottom: 1rem;}
    .use_support div[class^="support_method_0"] .support_list li .support_link p { display: none; }
    .use_support div[class^="support_method_0"] .support_list li .support_link img { margin-bottom: 0.8rem; }
    .use_support div[class^="support_method_0"] .support_list li .support_link h3 {font-size: 1.6rem;}
    .use_support div[class^="support_method_0"] .support_list li .support_link h3::after {width: 0.6rem; height: 1.2rem; margin-left: .8rem; background-size: 0.6rem 1.2rem;}


    /* 단체가입신청 SUB */





}