
/* ========================================================================
 * main CSS
 * ======================================================================== */


/* 교사지원센터 신청 */
.intro_wrap { background-color: #CFDEEE; position: relative; height: 37.6rem; }
.intro_wrap:before { background-color: #fff; bottom: 0; content: ""; height: 8rem; position: absolute; width: 100%; }
.intro_wrap .intro_list { display: flex; }
.intro_wrap .intro_list .teacher_con { display: flex; flex-direction: column; width: 47rem; height: 31.6rem; margin-right: 4rem; margin-top: 6rem; padding: 4rem; color: #fff; background: transparent linear-gradient(180deg, #FBA05A 0%, #E97721 100%) 0% 0% no-repeat; box-sizing: border-box; z-index: 10; }
.intro_wrap .intro_list .teacher_con .teacher_tit::after { background: url(); }
.intro_wrap .intro_list .teacher_con .teacher_txt { line-height: 1.35; letter-spacing: -0.025rem; margin-bottom: 2.35rem; }
.intro_wrap .intro_list .teacher_con .teacher_txt, .intro_wrap .intro_list .group_con .group_txt { line-height: 1.45; letter-spacing: -0.025rem; margin-bottom: 1.7rem; font-size: 1.8rem; }
.intro_wrap .intro_list .group_con {display: flex; flex-direction: column; width: 47rem; height: 31.6rem; margin-top: 6rem; padding: 4rem; color: #fff; background: transparent linear-gradient(180deg, #7591C7 0%, #405680 100%) 0% 0% no-repeat; box-sizing: border-box; z-index: 10;}
.intro_wrap .intro_list .teacher_con .teacher_tit,.intro_wrap .intro_list .group_con .group_tit {background: url(../images/icon/ico_arrow.png) 100% no-repeat; background-size: 1.4rem 2.8rem; padding-right: 32px; width: 100%; color: #fff;}
.intro_wrap .intro_list .teacher_con h2,.intro_wrap .intro_list .group_con h2 { display: flex; width: 100%; margin-bottom: 1.5rem; }
.intro_wrap .intro_list .teacher_con .teacher_tit,
.intro_wrap .intro_list .group_con .group_tit {position: relative; font-size: 3.6rem; font-weight: bold; letter-spacing: -0.09rem; line-height: 1.45;}
.intro_wrap .intro_list .teacher_con .teacher_tit::after { position: absolute; top: 0; right: 0; background: url(../images/icon/ico_arrow_m.png) no-repeat;}
.intro_wrap .intro_list .teacher_con .teacher_list_row, .intro_wrap .intro_list .group_con .group_list_row { display: flex; justify-content: space-between; }

.teacher_con .teacher_list_item,.group_con .group_list_item { position: relative; }
.teacher_con .teacher_list_item .teacher_num,.group_con .group_list_item .group_num { position: absolute; top: .2rem; left: .5rem; } 
.teacher_con .teacher_list_item .teacher_text,.group_con .group_list_item .group_text { position: absolute; bottom: 1.5rem; left: 50%; width: 100%; transform: translate(-50%); color: #434343; text-align: center; letter-spacing: -0.07rem; line-height: 1.2; } 
.teacher_con .teacher_list_item:nth-of-type(2) .teacher_text, .group_con .group_list_item:nth-of-type(2) .group_text { bottom: 0.5rem; } 


/* 게시판 */
.notice_wrap {margin-top: 7rem;}

@media screen and (max-width: 980px) {
  #contents .common_inner {padding: 0 2rem;}
}
