
@charset "UTF-8";
/* ========================================================================
 * main CSS
 * ======================================================================== */
/* 교사지원센터 신청 */
.intro_wrap { background-color: #CFDEEE; position: relative; height: 37.6rem; }
.intro_wrap:before { background-color: #fff; bottom: 0; content: ""; height: 8rem; position: absolute; width: 100%; }
.intro_wrap .intro_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; }
.intro_wrap .intro_list .teacher_con { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 47rem; max-width: calc(50% - 2rem); height: 31.6rem; margin-top: 6rem; padding: 4rem; color: #fff; background: transparent -o-linear-gradient(top, #FBA05A 0%, #E97721 100%) 0% 0% no-repeat; background: transparent -webkit-gradient(linear, left top, left bottom, from(#FBA05A), to(#E97721)) 0% 0% no-repeat; background: transparent linear-gradient(180deg, #FBA05A 0%, #E97721 100%) 0% 0% no-repeat; z-index: 10; }
.intro_wrap .intro_list .teacher_con .teacher_tit::after { background: url(); }
.intro_wrap .intro_list .teacher_con .teacher_txt { line-height: 1.35; letter-spacing: -0.025rem; margin-bottom: 2.35rem; }
.intro_wrap .intro_list .teacher_con .teacher_txt, .intro_wrap .intro_list .group_con .group_txt { line-height: 1.45; letter-spacing: -0.025rem; margin-bottom: 1.7rem; font-size: 1.8rem; }
.intro_wrap .intro_list .group_con {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 47rem; max-width: calc(50% - 2rem); height: 31.6rem; margin-top: 6rem; padding: 4rem; color: #fff; background: transparent -o-linear-gradient(top, #7591C7 0%, #405680 100%) 0% 0% no-repeat; background: transparent -webkit-gradient(linear, left top, left bottom, from(#7591C7), to(#405680)) 0% 0% no-repeat; background: transparent linear-gradient(180deg, #7591C7 0%, #405680 100%) 0% 0% no-repeat; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 10;}
.intro_wrap .intro_list .teacher_con .teacher_tit,.intro_wrap .intro_list .group_con .group_tit {background: url(../images/icon/ico_arrow.png) 100% no-repeat; background-size: 1.4rem 2.8rem; padding-right: 3.2rem; width: 100%; color: #fff;}
.intro_wrap .intro_list .teacher_con h2,.intro_wrap .intro_list .group_con h2 { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; margin-bottom: 1.5rem; }
.intro_wrap .intro_list .teacher_con .teacher_tit,
.intro_wrap .intro_list .group_con .group_tit {position: relative; font-size: 3.6rem; font-weight: bold; letter-spacing: -0.09rem; line-height: 1.45;}
.intro_wrap .intro_list .teacher_con .teacher_tit::after { position: absolute; top: 0; right: 0; background: url(../images/icon/ico_arrow_m.png) no-repeat;}
.intro_wrap .intro_list .teacher_con .teacher_list_row, .intro_wrap .intro_list .group_con .group_list_row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.teacher_con .teacher_list_item,.group_con .group_list_item { position: relative; }
.teacher_con .teacher_list_item {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: url(../images/common/teacher_box_bg.svg) 100% 100% no-repeat; width: 9.6rem; height: 10rem;}
.group_con .group_list_item {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: url(../images/common/group_box_bg.svg) 100% 100% no-repeat; width: 12.8rem; height: 10rem; }
.teacher_con .teacher_list_item img,.group_con .group_list_item img {width: 6rem; height: 6rem; margin-top: .5rem;}
.teacher_con .teacher_list_item .teacher_num,.group_con .group_list_item .group_num { position: absolute; top: .2rem; left: .5rem; } 
.teacher_con .teacher_list_item .teacher_text,.group_con .group_list_item .group_text { position: absolute; bottom: 1.5rem; left: 50%; width: 100%; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); color: #434343; text-align: center; letter-spacing: -0.07rem; line-height: 1.2; } 
.teacher_con .teacher_list_item:nth-of-type(2) .teacher_text, .group_con .group_list_item:nth-of-type(2) .group_text { bottom: 0.5rem; } 


/* 게시판 */
.notice_wrap {padding: 7rem 0 8rem;}
.notice_wrap .board {display: -webkit-box;display: -ms-flexbox;display: flex;}
.notice_wrap .teacher_data_sharing,.notice_wrap .T-Talk { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 50%; max-width: 47rem; }
.notice_wrap .teacher_data_sharing {margin-right: 4rem;}
.notice_wrap .head { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 2rem; }
.notice_wrap .head h2 {font-size: 3rem; font-weight: bold; letter-spacing: -.15rem; line-height: 1.35;}
.head > a { font-size: 1.6rem; letter-spacing: -.08rem; font-weight: 500; line-height: 1.5; background: url(../images/icon/ico_more.svg) 100% no-repeat; background-size: 2rem 2rem; padding-right: 2.4rem; }

.notice_wrap .teacher_data_sharing .notice_banner, .notice_wrap .T-Talk .notice_banner {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 2rem; width: 100%; height: 9rem; border-radius: 1rem;}
.notice_wrap .teacher_data_sharing .notice_banner { background-color: #F8F3E3; }
.notice_wrap .T-Talk .notice_banner { background-color: #E6EFF8; }
.notice_wrap .teacher_data_sharing .notice_banner img, .notice_wrap .T-Talk .notice_banner img { width: 5.4rem; height: 5.4rem; }
.notice_wrap .notice_banner .banner_title {font-size: 1.6rem; line-height: 1.5; letter-spacing: -.04rem;}
.notice_wrap .notice_banner .banner_title .text_under {position: relative;z-index: 1;}
.notice_wrap .teacher_data_sharing .text_under:after, .notice_wrap .T-Talk .text_under:after { content: ""; position: absolute; left: -0.05rem; bottom: .1rem; z-index: -1; width: 101%; height: .6rem;  }
.notice_wrap .teacher_data_sharing .text_under:after { background-color: #FBDBAB; }
.notice_wrap .T-Talk .text_under:after { background-color: #BDDBFC; }

.notice_wrap .body {margin-top: 3.2rem;}
.notice_wrap .body > ul {height: 13.6rem; display: flex; -ms-flex: 1; flex: 1; -ms-flex-direction: column; flex-direction: column; }
.notice_wrap .body > ul > li { margin-bottom: 1.5rem;}
.notice_wrap .body > ul > li:last-child { margin-bottom: 0;}
.notice_wrap .body > ul > li > a, .recent_visit .body > ul > li > a, .teacher_learning_data > ul > li > a  { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.notice_wrap .body > ul > li > a .noti_tit, .recent_visit .body > ul > li > a .noti_tit {display: -webkit-box; display: -ms-flexbox; display: flex; }
.notice_wrap .body > ul > li > a .data_category, .recent_visit .body > ul > li > a .data_category {font-size: 1.4rem; font-weight: 500; width: 5.2rem; margin-right: 2rem;}
.notice_wrap .body > ul > li p, .recent_visit .body > ul > li p {font-size: 1.5rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}
.notice_wrap .body > ul > li .date, .recent_visit .body > ul > li .date {-webkit-box-flex: 0; color: #9C9C9C; -ms-flex: none; flex: none; font-size: 1.5rem; letter-spacing: -.038rem; padding-left: 4rem;}

/* 교사 콘텐츠 등록, 최근 방문글 */
.post_wrap {width: 100%; background-color: #F5F5F5; padding: 6rem 0;}
.post_wrap .common_inner {display: -webkit-box;display: -ms-flexbox;display: flex;}
.post_wrap .recent_visit .head {-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 3rem;}
.post_wrap .recent_visit .body {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding:2rem; background-color: #fff; border-radius: 1rem; width: 100%; height: 19.8rem;}
.post_wrap .teacher_register .post_list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 1rem; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.recent_visit .body > ul {height: 15rem; display: flex; -ms-flex: 1; flex: 1; -ms-flex-direction: column; flex-direction: column; }
.recent_visit .body > ul > li { margin-bottom: 1.8rem;}
.recent_visit .body > ul > li:last-child { margin-bottom: 0;}

.post_wrap .teacher_register .post_list li { width: calc(50% - 0.5rem); height: 8rem; background-color: #fff; border-radius: 1rem; margin-top: 1rem; }
.post_wrap .teacher_register .post_list li a {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1.5rem 4rem; }
.post_wrap .teacher_register .post_list li a span { font-size: 1.8rem; color: #434343; white-space: nowrap; }
.post_wrap .teacher_register {width: 100%; max-width: 100%;}
.post_wrap .teacher_register img {width: 5rem; height: 5rem;}
.post_wrap .teacher_register, .post_wrap .recent_visit { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 50%; max-width: 47rem; }
.post_wrap .teacher_register{ margin-right: 4rem; }
.post_wrap .teacher_register .head h2, .post_wrap .recent_visit .head h2 { font-size: 3rem; font-weight: bold; letter-spacing: -.15rem; line-height: 1.35; }
.post_wrap .teacher_register .head p { font-size: 1.6rem; letter-spacing: -.04rem; line-height: 1.5; margin-top: 1.6rem;}

/* 교사 콘텐츠 등록 - 비로그인시 */
.post_wrap .non_teacher_register { width: 100%; max-width: 100%; margin-right: 0; }
.post_wrap .non_teacher_register .post_list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; margin-top: 1rem; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.post_wrap .non_teacher_register .post_list li { width: calc(50% - 0.5rem); height: 8rem; background-color: #fff; border-radius: 1rem; margin-top: 1rem; margin-right: 2rem; }
.post_wrap .non_teacher_register .post_list li a {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1.5rem 4rem; }
.post_wrap .non_teacher_register .post_list li a span { font-size: 1.8rem; color: #434343; white-space: nowrap; }
.post_wrap .non_teacher_register .post_list li:last-child {margin-right: 0;} 
.post_wrap .non_teacher_register .head { display: -webkit-box; display: -ms-flexbox; display: flex; }
.post_wrap .non_teacher_register .head h2 { font-size: 3rem; font-weight: bold; letter-spacing: -.15rem; line-height: 1.35; margin-right: 2rem;}
.post_wrap .non_teacher_register .head p { font-size: 1.6rem; letter-spacing: -.04rem; line-height: 1.5; margin-top: 1.6rem;}
.post_wrap .non_teacher_register img {width: 5rem; height: 5rem;}

/* EBSe 교수학습자료 */
.teacher_learning_data {padding: 9rem 0;}
.teacher_learning_data .head {-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.teacher_learning_data .head .teacher_tit {display: -webkit-box;display: -ms-flexbox;display: flex; width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.teacher_learning_data .head .teacher_tit > p { width: 100%; max-width: 60.4rem; height: 4.6rem; margin-right: 1.5rem; padding: 1.1rem 0 1.1rem 2rem; line-height: 1.5; background-color: #F3F3F3; border-radius: 1rem; font-size: 1.6rem; letter-spacing: -.04rem; }
.teacher_learning_data .head h2 { margin-right: 3rem; font-size: 3rem; font-weight: bold; letter-spacing: -.15rem; line-height: 1.35; white-space: nowrap; }
.teacher_learning_data .body {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 4rem;}
.teacher_learning_data .body .learning_list {height: 7.8rem; -webkit-box-flex: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-pack: justify; -ms-flex-pack: justify; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex: 1; flex: 1; -ms-flex-direction: column; flex-direction: column;}
.teacher_learning_data .body .learning_list li {margin-bottom: 1.5rem; }
.teacher_learning_data .body .learning_list:first-child { margin-right: 4rem; }
.teacher_learning_data .body .learning_list li a {-webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.teacher_learning_data .body .learning_list li a p {font-size: 1.5rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}
.teacher_learning_data .body .learning_list li a .date {-webkit-box-flex: 0; color: #9C9C9C; -ms-flex: none; flex: none; font-size: 1.5rem; letter-spacing: -.038rem; padding-left: 4rem;}

/* EBSe VOD자료 */
.vod_data {background-color: #F8F3E3; padding: 6rem 0 7rem; overflow: hidden;}
.vod_data .head h2 {margin-right: 3rem; font-size: 3rem; font-weight: bold; letter-spacing: -.15rem; line-height: 1.35; white-space: nowrap;}
.vod_data .head { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.vod_data .head .vod_data_tit { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
.vod_data .head .vod_data_tit > p { width: 100%; max-width: 60.4rem; line-height: 1.5; font-size: 1.6rem; letter-spacing: -.04rem; }
.vod_data .body {margin-top: 3.5rem;}
.vod_data .body .vod_list .vod_card { padding: 0 1rem; width: 25%; height: 100%; border-radius: 1rem; }
.vod_data .body .vod_list .vod_card a { display: block; overflow: hidden;border-radius: 1rem; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.vod_data .body .vod_list .vod_card .card_img { position: relative; padding-top: 63%; }
.vod_data .body .vod_list .vod_card .card_img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.vod_data .body .vod_list .vod_card .card_txt { overflow: hidden; background-color: #fff; position: relative; padding-top: 50%;}
.vod_data .body .vod_list .vod_card .card_txt .tit { position: absolute; top: 1.6rem; left: 1.6rem; right: 1.6rem; font-size: 1.6rem; letter-spacing: -0.04rem; line-height: 1.35; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis;}
.vod_data .body .vod_list .vod_card .card_txt .cate_wrap {display: -webkit-box;display: -ms-flexbox;display: flex;} 
.vod_data .body .vod_list .vod_card .card_txt .cate_tot {position: absolute; bottom: 1.6rem; left: 1.6rem; color: #434343; font-size: 1.4rem; letter-spacing: -.035rem; } 
.vod_data .body .vod_list .vod_card .card_txt .cate {position: absolute; bottom: 1.6rem; right: 1.6rem; font-size: 1.2rem; letter-spacing: -0.03rem; line-height: 1.35; color: #9C9C9C;}
.vod_data .body .vod_list .vod_card .card_txt .cate .cate_detail {position: relative; margin-right: 0.5rem;}
.vod_data .body .vod_list .vod_card .card_txt .cate .cate_detail::after {content: ""; position: absolute; top: 50%; -webkit-transform: translateY(-43%); -ms-transform: translateY(-43%); transform: translateY(-43%); display: inline-block; width: 0.1rem; height: 0.6rem; margin-left: 0.35rem; background-color: #AAAAAA;}
.vod_data .body .vod_list .vod_card .card_txt .cate .cate_detail:first-child::after {height: 1rem;}
.vod_data .body .vod_list .vod_card .card_txt .cate .cate_detail:last-child::after {display: none;}
.vod_data .body .vod_list .vod_card .card_txt .cate .cate_detail:last-child {margin-right: 0;}
#contents .vod_data .common_inner { max-width: 100rem; }
#contents .vod_data .common_inner .head { max-width: 98rem; margin: 0 auto; }
#contents .vod_data .common_inner .body { max-width: 100rem; }


/* AI 펭톡 */
.pengtalk_wrap { padding: 8rem 0 10rem; }
.pengtalk_wrap ul {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.pengtalk_wrap .general_teacher, .pengtalk_wrap .leader_teacher { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 3rem 4rem; width: 47rem; height: 16rem; border-radius: 1rem; }
.pengtalk_wrap .general_teacher { background-color: #FFEC8E; margin-right: 4rem; }
.pengtalk_wrap .leader_teacher { background-color: #A5C3F3; }
.pengtalk_wrap .general_link, .pengtalk_wrap .leader_link { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.pengtalk_wrap .general_txt .general_tit,.pengtalk_wrap .leader_txt .leader_tit { font-size: 3rem; letter-spacing: -.15rem; line-height: 1.5; font-weight: bold; padding-bottom: 0.6rem;}
.pengtalk_wrap .general_txt .general_desc,.pengtalk_wrap .leader_txt .leader_desc { font-size: 1.6rem; letter-spacing: -.04rem; line-height: 1.5; color: #434343; }
.pengtalk_wrap .general_image { width: 9.6rem; height: 9.6rem; }
.pengtalk_wrap .leader_image  {width: 11rem; height: 3.6rem; }
.vod_data .pager_wrap {display: none;}
.vod_data .pager { width: 2.9rem;}
.vod_data .page_bar { width: 100%; height: .2rem; margin-top: .8rem; margin-left: 1.5rem; background: rgba(0, 0, 0, 0.1); } 
.vod_data .page_bar div[class^="page_bar_per"] { height: .2rem; background: #231f20; }



@media screen and (max-width: 980px) {
  #contents .common_inner { padding: 0 2rem;}

  .intro_wrap .intro_list .teacher_con,.intro_wrap .intro_list .group_con {max-width: calc(50% - 1rem); padding: 2.6rem 3rem 3rem; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
  
  .intro_wrap .intro_list .teacher_con .teacher_tit, .intro_wrap .intro_list .group_con .group_tit {font-size: 3.4rem;}
  .intro_wrap .intro_list .teacher_con .teacher_txt, .intro_wrap .intro_list .group_con .group_txt {font-size: 1.6rem; line-height: 1.35; }
  .teacher_con .teacher_list_item .teacher_text, .group_con .group_list_item .group_text {font-size: 1.3rem;}
  .teacher_con .teacher_list_item { max-width: 100%; width: 9.8vw; height: 13.4vw; background: url(../images/common/teacher_m_box_bg.svg) 100% 100% no-repeat; background-size: contain; margin-right: 0.4rem; }
  .group_con .group_list_item { max-width: 100%; width: 13vw; height: 13.6vw; background: url(../images/common/group_m_box_bg.svg) 100% 100% no-repeat; background-size: contain; margin-right: 0.4rem; }
  .teacher_con .teacher_list_item .teacher_num, .group_con .group_list_item .group_num {font-size: .9rem;}
  .teacher_con .teacher_list_item:nth-of-type(2) .teacher_text, .group_con .group_list_item:nth-of-type(2) .group_text,
  .teacher_con .teacher_list_item:nth-of-type(3) .teacher_text, .group_con .group_list_item:nth-of-type(3) .group_text {bottom: 0.9rem;}
  .post_wrap .teacher_register .post_list li a {padding: 1.5rem 2rem;}
  .notice_wrap .teacher_data_sharing,.post_wrap .teacher_register { margin-right: 2rem; }
  .teacher_learning_data .body .learning_list:first-child { margin-right: 0; }
  .notice_wrap .teacher_data_sharing ul > li .date, .recent_visit .body > ul > li .date {display: none;} 
  .notice_wrap .T-Talk .notice_banner, .notice_wrap .teacher_data_sharing .notice_banner {height: 11rem;}
  .teacher_learning_data .body .learning_list:last-child {display: none;}
  .notice_wrap .T-Talk .banner_title .pc_break {display: none;}
  
  .pengtalk_wrap ul { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .pengtalk_wrap .general_teacher, .pengtalk_wrap .leader_teacher { margin-right: 0; width: 100%; margin-bottom: 2rem;}

  .vod_data .pager_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; margin-top: 3rem; width: calc( 100% + 2rem) ; } 

  .post_wrap .non_teacher_register .post_list li a { padding: 1.5rem 2.5rem;}

  #contents .vod_data .common_inner { padding: 0 1rem; }
  #contents .vod_data .common_inner .head { padding: 0 1rem; }

}

@media screen and (max-width: 780px) {
  .intro_wrap {height: 31rem;}
  .intro_wrap .intro_list .teacher_con {margin-top: 2rem;}
  .intro_wrap .intro_list .teacher_con .teacher_txt, .intro_wrap .intro_list .group_con .group_txt,
  .intro_wrap .intro_list .teacher_con .teacher_list_row, .intro_wrap .intro_list .group_con .group_list_row {display: none;}
  .intro_wrap .intro_list .teacher_con, .intro_wrap .intro_list .group_con {height: 11rem; width: 100%; max-width: 100%;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; white-space: nowrap;-webkit-box-shadow: 0px .8rem .8rem rgba(135, 143, 162, 0.5);box-shadow: 0px .8rem .8rem rgba(135, 143, 162, 0.5);}
  .intro_wrap .intro_list .teacher_con h2, .intro_wrap .intro_list .group_con h2 {margin-bottom: 0;}
  .intro_wrap .intro_list .teacher_con .teacher_tit, .intro_wrap .intro_list .group_con .group_tit {font-size: 3.2rem;}
  .intro_wrap .intro_list {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
  .intro_wrap .intro_list .group_con {margin-top: 2rem;}
  .intro_wrap:before { height: 10rem; }

  .notice_wrap {padding: 0rem 0 5rem;}
  .notice_wrap .body {margin-top: 2.2rem;}
  .notice_wrap .board {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
  .notice_wrap .teacher_data_sharing, .notice_wrap .T-Talk {width: 100%; max-width: 100%;}
  .notice_wrap .teacher_data_sharing {margin-right: 0;}
  .notice_wrap .T-Talk {margin-top: 5rem;}
  .notice_wrap .notice_banner .banner_title {font-size: 1.5rem; margin-right: 2.5rem; }
  .notice_wrap .teacher_data_sharing .notice_banner img, .notice_wrap .T-Talk .notice_banner img { width: 6rem; height: 6rem; }
  .notice_wrap .body > ul > li p, .recent_visit .body > ul > li p { font-size: 1.4rem; }

  .post_wrap {padding: 5rem 0;}
  .post_wrap .common_inner {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
  .post_wrap .teacher_register, .post_wrap .recent_visit {margin-right: 0;width: 100%; max-width: 100%;}
  .post_wrap .teacher_register .post_list {-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
  .post_wrap .teacher_register .post_list li {height: 27vw; width: calc(25% - 0.3rem); margin-top: 0;}
  .post_wrap .teacher_register .post_list li a {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;padding: 1.5rem 1rem .5rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 100%;}
  .post_wrap .teacher_register .post_list li a span {margin-bottom: 2rem; font-size: 1.4rem; }
  .post_wrap .teacher_register .head p {margin-bottom: 2rem;}
  .post_wrap .recent_visit {font-size: 1.5rem; margin-top: 6rem;}

  .teacher_learning_data {padding: 5rem 0;}
  .teacher_learning_data .head .teacher_tit,.vod_data .head .vod_data_tit {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start;}
  .teacher_learning_data .head,.vod_data .head {-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start; position: relative;}
  .teacher_learning_data .head h2,.vod_data .head h2 {margin-right: 0; margin-bottom: 2rem; line-height: 1;}
  .teacher_learning_data .head .teacher_tit > p {margin-right: 0; max-width:100%; padding: 1.1rem 2rem 1.1rem 2rem;font-size: 1.5rem;letter-spacing: -.075rem;}
  .teacher_learning_data .head > a, .vod_data .head > a {position: absolute; right: 0; top: 1rem}
  .vod_data .head > a {right: 1rem;}
  .teacher_learning_data .body {margin-top: 2.2rem;}
  .teacher_learning_data .body .learning_list:first-child {margin-right: 0;}

  .post_wrap .teacher_register .head { display: block !important; }
  .post_wrap .teacher_register .post_list li { margin-right: 0 !important; }

  .pengtalk_wrap { padding: 5rem 0 5rem; }
  .pengtalk_wrap .general_txt .general_desc .pc_break {display: block;}
  .pengtalk_wrap .general_teacher, .pengtalk_wrap .leader_teacher { padding: 2.8rem 2rem; }
  .pengtalk_wrap .leader_teacher {margin-bottom: 0;}
  .pengtalk_wrap .general_image {width: 7rem; height: 7rem;}
  .pengtalk_wrap .leader_image {width: 9rem; height: 3rem;}
  .pengtalk_wrap .general_txt .general_desc, .pengtalk_wrap .leader_txt .leader_desc {font-size: 1.4rem;}

  /* 교사 콘텐츠 등록 - 비로그인시 */
  .post_wrap .non_teacher_register .head {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
  .post_wrap .non_teacher_register { margin-right: 0; width: 100%; max-width: 100%; } 
  .post_wrap .non_teacher_register .post_list { -ms-flex-wrap: nowrap; flex-wrap: nowrap; } 
  .post_wrap .non_teacher_register .post_list li { height: 27vw; width: calc(25% - 0.3rem); margin-top: 0;margin-right: 0; } 
  .post_wrap .non_teacher_register .post_list li a { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 1.5rem 1rem .5rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 100%; } 
  .post_wrap .non_teacher_register .post_list li a span { margin-bottom: .5rem; font-size: 1.4rem; } 
  .post_wrap .non_teacher_register .head p { margin-bottom: 2rem; }


}

@media screen and (max-width: 511px) {
  .post_wrap .teacher_register .post_list li a span {margin-bottom: .5rem;}
  .post_wrap .teacher_register img { width: 4rem; height: 4rem; }

  .vod_data .body .vod_list .vod_card .card_txt .cate .cate_detail {margin-right: 0.8rem;}
  .vod_data .body .vod_list .vod_card .card_txt .cate .cate_detail::after {margin-left: 0.55rem;}
  .vod_data .body .vod_list .vod_card .card_txt .cate { font-size: 1.4rem; bottom: 1.45rem;}
  .vod_data .body .vod_list .vod_card {padding: 0;}
  .vod_data .body .vod_list .slick-slide .vod_card {-webkit-box-shadow: 0px 1rem 1rem #E1D7B9;box-shadow: 0px 1rem 1rem #E1D7B9;}
  .vod_data .slick-slider { margin-left: -5rem; }
  .vod_data .slick-slide { margin: 0 1rem; padding: 0; }
  .vod_data .slick-list { overflow: visible; }

}